@font-face {
    font-family: 'Appetite';
    src: url(fonts/Appetite\ New\ Regular.ttf);
}
@font-face {
  font-family: 'Ginger';
  src: url(fonts/Ginger.ttf);
}
@font-face {
  font-family: 'Fredoka';
  src: url(fonts/FredokaOne-Regular.ttf);
}
  
  
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    cursor:none;
  

  }

  body {
    height: 100%;
    position: relative;
    font-family: 'Ginger', sans-serif;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media screen and (max-width: 600px) {
  body{
    width:250%;
  }
}

.navlinks {
  color: #fff;
  animation: first_color .5s ease-in-out infinite alternate;
}
.fa-brands fa-discord {
  animation-name: second_color;
}
@keyframes first_color{
  0% {
    text-shadow: 0 0 10px #ff1177, 0 0 20px #d6249f, 0 0 30px #285AEB}
  100% {
    text-shadow: 0 0 5px #ff1177, 0 0 10px #d6249f, 0 0 15px #285AEB}
  }
@keyframes second_color {
  0% {
    text-shadow: 0 0 10px #1877f2, 0 0 20px #1459b3, 0 0 30px #179bff}
  100% {
    text-shadow: 0 0 5px #1877f2, 0 0 10px #1459b3, 0 0 15px #179bff}
  }

  /* HeroPage */
  #magic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    z-index: -9999;
  }
  
  .playground{
    position: relative;
    width: 100%;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
  }
  .bottomPosition{
    position: relative;
    text-align: center;
    margin-bottom: 200px;
  
  }

  /* Service Section */

  .what {
    position: relative;
    width: 100%;
    height:min-content;
    font-size: 30px;
    font-family: "Ginger";
    justify-content: center;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    background: black;
  }
  



  h5 {
    font-size: 50px;
    margin: 0;
    color:white;
  }
  .gs_reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
  }

  .what .about-text-left {
    text-align: left;
    padding-bottom: 100px;
    font-size: 50px;
    padding-right: 30%;
    margin-top: 6%;
  }



  .what .about-text-right {
    text-align: right;
    padding: 30px;
    padding-bottom: 100px;
    font-size: 50px;
    padding-left: 30%
  }

  .what .about-text-left .sub-text{
    font-size: 25px;
  }

  .what .about-text-right .sub-text{
    font-size: 25px;
  }
 

/* Project Cards */
.project-container {  
    display: grid;  
    grid-template-columns: repeat(4, 1fr);  
    grid-gap: 30px;  
    width: 100%;  
    background-color: white;
    padding: 30px; 
    padding-bottom: 20%; 
    padding-top: 100px;
}  
/* @media screen and (max-width: 760px) {  
    .project-container {  
         grid-template-columns: repeat(2, 1fr);  
   }  
}   */


.project-card {  
    position: relative;  
    z-index: 1;  
    width: 100%;  
    padding-bottom: 150%;  
    perspective: 1000px;  
}  
.project-card__cover {  
    position: absolute;  
    z-index: 1;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    overflow: hidden;  
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);  
    background-size: cover;  
    perspective-origin: 50% 50%;  
    transform-style: preserve-3d;  
    transform-origin: top center;  
    will-change: transform;  
    transform: skewX(0.001deg);  
    transition: transform 0.35s ease-in-out;  
    border-radius:15px;
}  
.project__cover::after {  
    display: block;  
    content: '';  
    position: absolute;  
    z-index: 100;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: linear-gradient(226deg, rgba(225, 200, 246, 0.4) 0%, rgba(225, 200, 246, 0.4) 35%, rgba(225, 200, 246, 0.2) 42%, rgba(225, 200, 246, 0) 60%);  
    transform: translateY(-20%);  
    will-change: transform;  
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);  
}  
.project-card:hover .b-game-card__cover {  
    transform: rotateX(7deg) translateY(-6px);  
}  
.project-card:hover .b-game-card__cover::after {  
    transform: translateY(0%);  
}  
.project-card::before {  
    display: block;  
    content: '';  
    position: absolute;  
    top: 5%;  
    left: 5%;  
    width: 89%;  
    height: 89%;  
    background: rgba(229, 144, 144, 0.3);  
    border-radius: 15px;
    box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);  
    will-change: opacity;  
    transform-origin: top center;  
    transform: skewX(0.001deg);  
    transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;  
}  
.project-card:hover::before {  
    opacity: 0.6;  
    transform: rotateX(7deg) translateY(-6px) scale(1.05);  
}  

 h1.special{
  filter:url("#distort");    
  text-align: center;
      font-size: 40px;
      font-family: 'Ginger';
        background-image: linear-gradient(-225deg,
        rgba(94,114,235,1) 0%,
        rgba(255,145,144,1) 29%,
        rgba(254,193,149,1) 67%,
        #ebe75c 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }

h4{
    font-size: 40px;
    padding:5%;
    
    color:#5e72eb;
    width: 100%;
    text-align: center;
    font-family: "Ginger";
}

h4 .title {
  font-size: 60px;
}

p.gs_reveal{
  font-size: 25px;
  color:#ccc;
  
}


  /*footer*/
  footer {
    background-color: black;
    padding-bottom: 5em;
    text-align: center;
    font-size: 3em;
  }


  canvas{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 3;
    pointer-events: none;
    mix-blend-mode: difference;
  }
  
  .nav {
    width: 100%;
    position: fixed;
    line-height: 30px;
    vertical-align: middle;
    z-index: 1000;
    padding-right: 30px;
}

.nav div.logo {
  vertical-align: middle;
    float: left;
    font-size: 30px;
    background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    
}
.navbar-brand {
    margin: 0;
    grid-area: author;
    font-size: 40px;
    padding: 30px;
    font-family: "Fredoka";
    background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    transform: translateY(-50px);
    transition: all 400ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
  }

.nav div.main_list {
    float: right;
    font-size: 40px;
    margin-top: 0;
    margin-right:0;
}

.nav div.main_list ul {
    width: 100%;
    height: 80px;
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 2em;
}

.nav div.main_list ul li {
    width: auto;
    height: 20px;
    padding-left: 20px;
    
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
   
    
}

.nav div.main_list ul li a:hover {
    color: rgba(255,145,144,1);
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}



/* svg {
  display:none;
}  */

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(.3);
  z-index: 1000;
}
.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}



/* Loading */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity .6s cubic-bezier(.165,.84,.44,1) .2s;
  transition: opacity .6s cubic-bezier(.165,.84,.44,1) .2s;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
  transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
}

.loader-text {
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-align: center;
  color: black;
  font-size: .8333333333rem;
  letter-spacing: .3em;
  text-transform: uppercase;
}

.loader-bar {
  margin-top: 18px;
  width: 95%;
  background-color: #ccc;
  height: 1px;
}

.loader-progress {
  height: 100%;
  width: 100%;
  display: block;
  background-color: black;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform .4s cubic-bezier(.19,1,.22,1);
  transition: -webkit-transform .4s cubic-bezier(.19,1,.22,1);
  transition: transform .4s cubic-bezier(.19,1,.22,1);
  transition: transform .4s cubic-bezier(.19,1,.22,1),-webkit-transform .4s cubic-bezier(.19,1,.22,1);
}

#intro{
  background-color: black;
}
img{
  width:10%;
  height:auto;
  background-color: black;
}





/* Project */
.section-tours {
  justify-content: center;
  align-items: center;
  background-color: black;
 padding-bottom: 5%;
  padding-top: 5%;
  justify-content: middle;
  text-align: center;
  display: block;
}

.row {
  display: flex;
  position:relative;
  width: 100%;
  justify-content: center;
  text-align: center;
}


.row .col {
  width: 380px;
  padding: 10px;
  margin: 5%;
}


.card_project {
  perspective: 150rem;
  -moz-perspective: 150rem;
  
  height: 35rem;
  width: 380px;
}

.card__side {
  font-size: 15px;
  text-align: center;
  height: 35rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  
}
.card__side--front {
  background-color: white;

}
.card__side--back {
  transform: rotateY(180deg);
  background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
}
.card_project:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card_project:hover .card__side--back {
  transform: rotateY(0);
}
.card__text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  font-size: 18px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.card__text a {
  font-size: 25px;
  z-index: 100;;
  margin-bottom: 0;
  color: rgba(94,114,235,1);
}

h6{
  font-size: 60px;
  padding:5%;
  color:rgba(94,114,235,1);
  width: 100%;
  text-align: center;
  font-family: "Ginger";
  animation: hueRotate 6s ease-in-out 3s infinite;

}


.smiley{
  position: fixed;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  bottom:2%;
  right: -93%;
}

.txt {
  color: #fff;
  background: #000000;
  font-size: 100px;
  font-weight: bold;
  font-family: "Ginger";
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

.txt::before {
  content: '🙃';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(4px)
}

.neon-wrapper {
  display: inline-flex;
  filter: brightness(200%);
  overflow: hidden;
  margin-bottom: 100px;
}

.gradient {
  background: linear-gradient(111.30916204528012deg, rgba(1, 174, 239, 1) 5.229447313966846%, rgba(232, 101, 100, 1) 97.24273528685215%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.dodge {
  background: radial-gradient(circle, white, black 35%) center / 25% 25%;
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-dodge;
  animation: dodge-area 3s linear infinite;
}

@keyframes dodge-area {
  to {
      transform: translate(50%, 50%);
  }
}


.hero{
  position:relative;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  margin: 0px;
  background: black;
  overflow: hidden;
  padding: 10px;
}


h1{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: 150px;
  font-size: 50px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  color: #12000a;
  font-weight: 200;
  font-family: "Ginger";
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
}

#svgWrap_1,
#svgWrap_2{
  position: absolute;
  height: auto;
  width: 70%;
  max-width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svgWrap_1,
#svgWrap_2,
.hero{
  animation: hueRotate 6s ease-in-out 3s infinite;
}


#id1_1,
#id2_1,
#id3_1{
  stroke: #ff005d;
  stroke-width: 5px;
  fill: transparent;
  filter: url(#glow);
}

#id1_2,
#id2_2,
#id3_2{
  stroke: #12000a;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id3_1{
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
}

#id2_1{
  stroke-dasharray: 735px;
  stroke-dashoffset: -735px;
  animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
}

#id1_1{
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
}

@keyframes drawLine1 {
  0%  {stroke-dashoffset: -940px;}
  100%{stroke-dashoffset: 0px;}
}

@keyframes drawLine2 {
  0%  {stroke-dashoffset: -735px;}
  100%{stroke-dashoffset: 0px;}
}

@keyframes drawLine3 {
  0%  {stroke-dashoffset: -940px;}
  100%{stroke-dashoffset: 0px;}
}

@keyframes flicker1{
  0%  {stroke: #ff005d;}
  1%  {stroke: transparent;}
  3%  {stroke: transparent;}
  4%  {stroke: #ff005d;}
  6%  {stroke: #ff005d;}
  7%  {stroke: transparent;}
  13% {stroke: transparent;}
  14% {stroke: #ff005d;}
  100%{stroke: #ff005d;}
}

@keyframes flicker2{
  0%  {stroke: #ff005d;}
  50% {stroke: #ff005d;}
  51% {stroke: transparent;}
  61% {stroke: transparent;}
  62% {stroke: #ff005d;}
  100%{stroke: #ff005d;}
}

@keyframes flicker3{
  0%  {stroke: #ff005d;}
  1%  {stroke: transparent;}
  10% {stroke: transparent;}
  11% {stroke: #ff005d;}
  40% {stroke: #ff005d;}
  41% {stroke: transparent;}
  45% {stroke: transparent;}
  46% {stroke: #ff005d;}
  100%{stroke: #ff005d;}
}

@keyframes flicker4{
  0%  {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  30% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  31% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  32% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  36% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  37% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  41% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  42% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  85% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  86% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  95% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  96% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  100%{color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
}

@keyframes fadeInText{
  1%  {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  70% {color: #ff005d;text-shadow:0px 0px 14px #ff005d;}
  100%{color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
}

@keyframes hueRotate{
  0%  {
    filter: hue-rotate(0deg);
  }
  50%  {
    filter: hue-rotate(-120deg);
  }
  100%  {
    filter: hue-rotate(0deg);
  }
}

/* 
Menu */

.overlay .wrapper{
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background:#ccc;
  
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  /*left: 0;*/
  right:0;
}
.overlay .menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /*left: 20px; */
  top: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  color:#1a73e8;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 50%;
	width: 40%;
	border-bottom: 2px solid white;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}


.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;

}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul{
  position:fixed;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  border-radius: 50px;
  position:flex;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  justify-content: center;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after{
  position: flex;
  background: #fff;
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #1a73e8;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 50%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.nav-wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
.wrapper ul li a{
  
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
   transition-delay: .3s;
  transform: translateX(-100px);
}






   
#parallax,
.layer {
    height: 250vh;
    position: absolute;
    width: 100%;
    margin-top: -25%;
    
}



aside#mouse-parallax {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
}

aside#mouse-parallax ul#scene {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    overflow: hidden;
    margin: 0
}

aside#mouse-parallax ul#scene .layer:nth-of-type(1) {
    z-index: 3;
}

aside#mouse-parallax ul#scene .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
}


aside#mouse-parallax ul#scene .layer .canvas {
    width: 108%;
    height: 208%;
    position: absolute;
    top: -4%;
    left: -4%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

aside#mouse-parallax ul#scene .layer:nth-of-type(2) {
    z-index: 1;
}


aside#mouse-parallax ul#scene .layer .canvas.group2 {
  z-index: 1;
  background-image: url(/images/rocket.png);
  background-size: 300px;
  background-position: 980px 2350px;
}

aside#mouse-parallax ul#scene .layer .canvas.group3 {
    z-index: 2;
    background-image: url(/images/dj.png);
    background-size: 250px;
    background-position: 640px 560px;
}

aside#mouse-parallax ul#scene .layer:nth-of-type(3) {
    z-index: 2;
}

aside#mouse-parallax ul#scene .layer .canvas.group4 {
  background-image: url(/images/smilee.png);
  background-size: 250px;
  background-position: 200px 1900px;

    z-index: 1;
}

aside#mouse-parallax ul#scene .layer .canvas.group5 {
  background-image: url(/images/heart.png);
  background-size: 150px;
  background-position: 1200px 1450px;
    z-index: 2;
}

aside#mouse-parallax ul#scene .layer .canvas.group6 {
  background-image: url(/images/cool.png);
    z-index: 3;
    background-size: 200px;
    background-position: 130px 300px;
}





.team-container {
  display: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  padding:5%;
  
  
}

.team{
  display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: black;
      padding-bottom: 20%;
      padding-top: 10%;
  padding: 10px;
}

h2{
  font-family: "Appetite";
  font-size: 18px;
  color: white;
}

p{
  font-family: 'M PLUS Rounded 1c', sans-serif;;
  font-size: 18px;
  line-height: 150%;
}

.card {
  background-color: white;
  background-image: linear-gradient(rgba(94,114,235,.5),  rgb(105, 107, 124));
  border-radius: 20px;
  width: 200px;
  height: 250px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 20px;
  
}

.avatar img {
  
  min-width: 100%;
    min-height: 100%
  
}

.summary a,
.summary a:hover,
.summary a:active,
.summary a:visited {
  color: #ffffff;
  text-decoration: none;
}

.summary h3 {
  color: #ffffff;
  font-size: 15px;
  z-index: 30;
}

.skills-container {
  position: absolute;
  width: 200px;
  bottom: -350px;
  border-radius: 15px;
  background-color: #fff;
  transition: all .8s;

}

.skills-container a {
  font-size: 25px;
}

.card:hover .summary {
  opacity: 0;
  transition: all .2s;
  
}

.card:hover .skills-container {
  bottom: 0;
  transition: all .2s .2s;
}

.skills a {
  color: transparent;
  
}


