@font-face {
    font-family: 'Appetite';
    src: url(fonts/Appetite\ New\ Regular.ttf);
}
@font-face {
  font-family: 'Ginger';
  src: url(fonts/Ginger.ttf);
}
@font-face {
  font-family: 'Bernardo';
  src: url(fonts/Bernardo\ Moda\ contrast.ttf);
}
  
  
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    cursor:none;

  }

  body {
    height: 100%;
    position: relative;
    font-family: 'Ginger', sans-serif;
    overflow: none;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media screen and (max-width: 600px) {
  body{
    width:250%;
  }
}



  /* HeroPage */
  #magic {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    z-index: -9999;
  }
  
  .playground{
    position: relative;
    width: 100%;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
  }
  .bottomPosition{
    position: relative;
    text-align: center;
    margin-bottom: 200px;
  
  }

  /* Service Section */

  .what {
    position: relative;
    width: 100%;
    height:min-content;
    font-size: 30px;
    font-family: "Ginger";
    justify-content: center;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    background-color: black;
  }
  
  
  h5 {
    font-size: 50px;
    margin: 0;
    color:white;
  }
  .gs_reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
  }

  .what .about-text-left {
    text-align: left;
    padding-bottom: 100px;
    font-size: 50px;
    padding-right: 30%;
    margin-top: 6%;
  }



  .what .about-text-right {
    text-align: right;
    padding: 30px;
    padding-bottom: 100px;
    font-size: 50px;
    padding-left: 30%
  }

  .what .about-text-left .sub-text{
    font-size: 25px;
  }

  .what .about-text-right .sub-text{
    font-size: 25px;
  }
 

/* Project Cards */
.project-container {  
    display: grid;  
    grid-template-columns: repeat(4, 1fr);  
    grid-gap: 30px;  
    width: 100%;  
    background-color: white;
    padding: 30px; 
    padding-bottom: 20%; 
    padding-top: 100px;
}  
/* @media screen and (max-width: 760px) {  
    .project-container {  
         grid-template-columns: repeat(2, 1fr);  
   }  
}   */


.project-card {  
    position: relative;  
    z-index: 1;  
    width: 100%;  
    padding-bottom: 150%;  
    perspective: 1000px;  
}  
.project-card__cover {  
    position: absolute;  
    z-index: 1;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    overflow: hidden;  
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);  
    background-size: cover;  
    perspective-origin: 50% 50%;  
    transform-style: preserve-3d;  
    transform-origin: top center;  
    will-change: transform;  
    transform: skewX(0.001deg);  
    transition: transform 0.35s ease-in-out;  
    border-radius:15px;
}  
.project__cover::after {  
    display: block;  
    content: '';  
    position: absolute;  
    z-index: 100;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: linear-gradient(226deg, rgba(225, 200, 246, 0.4) 0%, rgba(225, 200, 246, 0.4) 35%, rgba(225, 200, 246, 0.2) 42%, rgba(225, 200, 246, 0) 60%);  
    transform: translateY(-20%);  
    will-change: transform;  
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);  
}  
.project-card:hover .b-game-card__cover {  
    transform: rotateX(7deg) translateY(-6px);  
}  
.project-card:hover .b-game-card__cover::after {  
    transform: translateY(0%);  
}  
.project-card::before {  
    display: block;  
    content: '';  
    position: absolute;  
    top: 5%;  
    left: 5%;  
    width: 89%;  
    height: 89%;  
    background: rgba(229, 144, 144, 0.3);  
    border-radius: 15px;
    box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);  
    will-change: opacity;  
    transform-origin: top center;  
    transform: skewX(0.001deg);  
    transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;  
}  
.project-card:hover::before {  
    opacity: 0.6;  
    transform: rotateX(7deg) translateY(-6px) scale(1.05);  
}  

 h1.special{
  filter:url("#distort");    
  text-align: center;
      font-size: 40px;
      font-family: 'Ginger';
        background-image: linear-gradient(-225deg,
        rgba(94,114,235,1) 0%,
        rgba(255,145,144,1) 29%,
        rgba(254,193,149,1) 67%,
        #ebe75c 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }

h4{
    font-size: 40px;
    padding:5%;
    
    color:#5e72eb;
    width: 100%;
    text-align: center;
    font-family: "Ginger";
}

h4 .title {
  font-size: 60px;
}

p.gs_reveal{
  font-size: 25px;
  color:#ccc;
  
}


  /*footer*/
  footer {
    background-color: black;
    padding-bottom: 5em;
    text-align: center;
    font-size: 3em;
  }


  canvas{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 3;
    pointer-events: none;
    mix-blend-mode: difference;
  }
  
  .nav {
    width: 100%;
    position: fixed;
    line-height: 30px;
    vertical-align: middle;
    z-index: 1000;
    padding-right: 30px;
}

.nav div.logo {
  vertical-align: middle;
    float: left;
    font-size: 30px;
    background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    
}
.navbar-brand {
    margin: 0;
    grid-area: author;
    font-size: 30px;
    padding: 30px;
    font-family: "Appetite";
    background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    transform: translateY(-50px);
    transition: all 400ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
  }

.nav div.main_list {
    float: right;
    font-size: 20px;
    margin-top: 0;
    margin-right:0;
}

.nav div.main_list ul {
    width: 100%;
    height: 5px;
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 2em;
}

.nav div.main_list ul li {
    width: auto;
    height: 20px;
    padding-left: 20px;
    
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
   
    
}

.nav div.main_list ul li a:hover {
    color: rgba(255,145,144,1);
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}



svg {
  display:none;
} 

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(.3);
  z-index: 1000;
}
.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}


/* 
Menu */

.wrapper{
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background:#ccc;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  /*left: 0;*/
  right:0;
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /*left: 20px; */
  top: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  color:#1a73e8;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid white;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}


.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  border-radius: 50px;
  position:relative;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  justify-content: center;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #1a73e8;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
   transition-delay: .6s;
  transform: translateX(-100px);
}


/* Loading */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity .6s cubic-bezier(.165,.84,.44,1) .2s;
  transition: opacity .6s cubic-bezier(.165,.84,.44,1) .2s;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
  transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
}

.loader-text {
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-align: center;
  color: black;
  font-size: .8333333333rem;
  letter-spacing: .3em;
  text-transform: uppercase;
}

.loader-bar {
  margin-top: 18px;
  width: 95%;
  background-color: #ccc;
  height: 1px;
}

.loader-progress {
  height: 100%;
  width: 100%;
  display: block;
  background-color: black;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform .4s cubic-bezier(.19,1,.22,1);
  transition: -webkit-transform .4s cubic-bezier(.19,1,.22,1);
  transition: transform .4s cubic-bezier(.19,1,.22,1);
  transition: transform .4s cubic-bezier(.19,1,.22,1),-webkit-transform .4s cubic-bezier(.19,1,.22,1);
}

#intro{
  background-color: black;
}
img{
  width:10%;
  height:auto;
  background-color: black;
}





/* Team Card */

.team-container {
  display: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  padding:5%;
  
  
}

.team{
  display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: black;
      padding-bottom: 20%;
      padding-top: 10%;
  padding: 10px;
}

h2{
  font-family: "Appetite";
  font-size: 18px;
  color: white;
}

p{
  font-family: "Ginger";
  font-size: 18px;
  line-height: 150%;
}

.card {
  background-color: white;
  background-image: linear-gradient(rgba(94,114,235,.5),  rgb(105, 107, 124));
  border-radius: 20px;
  width: 200px;
  height: 250px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 20px;
  
}

.avatar img {
  
  min-width: 100%;
    min-height: 100%
  
}

.summary a,
.summary a:hover,
.summary a:active,
.summary a:visited {
  color: #ffffff;
  text-decoration: none;
}

.summary h3 {
  color: #ffffff;
  font-size: 15px;
  z-index: 30;
}

.skills-container {
  position: absolute;
  width: 200px;
  bottom: -350px;
  border-radius: 15px;
  background-color: #fff;
  transition: all .8s;

}

.skills-container a {
  font-size: 25px;
}

.card:hover .summary {
  opacity: 0;
  transition: all .2s;
  
}

.card:hover .skills-container {
  bottom: 0;
  transition: all .2s .2s;
}

.skills a {
  color: transparent;
  
}



/* Project */
.section-tours {
  justify-content: center;
  align-items: center;
  background-color: black;
 padding-bottom: 5%;
  padding-top: 5%;
  justify-content: middle;
  text-align: center;
  display: block;
}

.row {
  display: flex;
  position:relative;
  width: 100%;
  justify-content: center;
  text-align: center;
}


.row .col {
  width: 380px;
  padding: 10px;
  margin: 5%;
}


.card_project {
  perspective: 150rem;
  -moz-perspective: 150rem;
  
  height: 35rem;
  width: 380px;
}

.card__side {
  font-size: 15px;
  text-align: center;
  height: 35rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  
}
.card__side--front {
  background-color: white;

}
.card__side--back {
  transform: rotateY(180deg);
  background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
}
.card_project:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card_project:hover .card__side--back {
  transform: rotateY(0);
}
.card__text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  font-size: 18px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.card__text a {
  font-size: 25px;
  z-index: 100;;
  margin-bottom: 0;
  color: rgba(94,114,235,1);
}

h6{
  font-size: 60px;
  padding:5%;
  color:rgba(94,114,235,1);
  width: 100%;
  text-align: center;
  font-family: "Appetite";

}

/* Neon */
/* @font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.neon-container {
  
  text-align: center;
  vertical-align: middle;
  background-color: black;
  width:100%;
  height: 50vh;
}

.neon {
  font-family: "Ginger";
  color: #FB4264;
  font-size: 12vw;
  line-height: 9vw;
  padding: 30px;
  text-shadow: 0 0 3vw #F40A35;
  
 
}

.flux {
  font-family: "Ginger";
  color: #426DFB;
  font-size: 12vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
} */

